body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: $dark-theme-bg;
}

.box-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.box {
    height: 300px;
    border-radius: 5px;
}