$light-blue: #dfe8ff;
$mid-blue: #c8d8ff;
$blue: #3970ff;
$dark-blue: #07798c;
$gray: #494949;
$white: #ffffff;
$black: #000000;

$dark-theme-green: #41ecce;
$dark-theme-blue: #41d3ec;
$dark-theme-bg: #201f2a;
$dark-theme-offwhite: darken($white, 10%);